/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.w300 {
  font-weight: 300;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
  color: black;
}

/* CSS Variables */
:root {
  /* Primary */
  --Blue: hsl(223, 87%, 63%);

  /* Secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Green: hsl(146, 59%, 51%);

  /* Neutral */
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-align: center;
  margin: 0 10%;
}

.logo {
  margin: 2rem 0;
  overflow: auto;
}

:where(.title, .content, .copyright) {
  color: var(--Gray);
}

.title {
  font-size: 1.3rem;
  margin-bottom: 1.25rem;
}

.content {
  margin-bottom: 1rem;
}

:where(#email, #submit) {
  width: 100%;
  font-size: 1.1rem;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

#email {
  border: 1px solid var(--Pale-Blue);
  margin-bottom: 1rem;
  &::placeholder {
    color: var(--Pale-Blue);
  }
  &:focus {
    outline: 0;
    border: 2px solid var(--Blue);
  }
}

@media (hover: hover) {
  #submit:hover {
    background-color: var(--Green);
  }

  .social-links li a:hover {
    color: var(--Green);
    border-color: var(--Green);
  }
}

#error-message {
  font-style: italic;
  font-size: 0.6rem;
  color: var(--Light-Red);
  position: relative;
  bottom: 15px;
}

#submit {
  border: none;
  color: white;
  background-color: var(--Blue);
  margin-bottom: 1rem;
  box-shadow: 0px 5px 20px -5px var(--Blue);
  &:active {
    background-color: color-mix(in hsl, var(--Blue) 80%, transparent);
  }
}

.stat-page {
  width: 80vw;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.social-links li {
  list-style-type: none;
}

.social-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  color: var(--Blue);
  text-decoration: none;
  padding: 1rem;
  border: 1px solid var(--Pale-Blue);
  border-radius: 50%;
  &:active {
    color: white;
    background-color: var(--Blue);
  }
}

.copyright {
  font-size: 0.8rem;
}

/* Extra small devices [iPhone SE - 375](phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Design specs */
@media only screen and (width: 750px) {
  body {
    padding: 10%;
  }

  .logo {
    margin: 4.75rem 0;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2.25rem;
  }

  .content {
    margin-bottom: 3.25rem;
  }

  :where(#email, #submit) {
    width: 80%;
    padding: 1rem 2rem;
  }

  #submit {
    margin-bottom: 4rem;
  }

  .stat-page {
    height: 500px;
    margin-bottom: 10rem;
  }

  .social-links {
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .social-links li a {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

/* Medium devices [iPad Mini] (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    margin-top: 4rem;
  }

  .title {
    font-size: 2rem;
  }

  .content {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  #form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  #email,
  #submit {
    width: auto;
    font-size: 1rem;
  }

  .stat-page {
    height: 400px;
    margin: 2rem 0 3rem 0;
  }
  /* bottom: 10px;
  right: 170px; */
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .logo {
    margin: 2rem;
  }
}
